.bsn-parent {
  position: fixed;
  background-color: #111f28;
  border-radius: 55px 55px 0 0;
  box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.5);
  /* background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.29) 0%,
    rgba(255, 255, 255, 0.15) 20%,
    rgba(255, 255, 255, 0.13) 40%,
    rgba(255, 255, 255, 0.12) 60%,
    rgba(255, 255, 255, 0.16) 80%,
    rgba(255, 255, 255, 0.21) 100%
  ); */
  /* background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.11) 0%,
    rgba(255, 255, 255, 0.09) 20%,
    rgba(255, 255, 255, 0.06) 40%,
    rgba(255, 255, 255, 0.05) 60%,
    rgba(255, 255, 255, 0.08) 80%,
    rgba(255, 255, 255, 0.11) 100%
  ); */
  width: 100%;
  height: 300px;
  justify-self: flex-end;
  transform: translateY(493px);
  transition: 0.15s ease-in-out;
}
.bsn-revealed {
  transform: translateY(256px);
  z-index: 6;
  /* transform: translateY(400px); */
}
/* 
.bkgrnd {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 812px;
  background-color: rgb(60, 65, 92, 0.92);
  transform: translateY(-2000px);
}

.bkgrnd-revealed {
  transform: translateY(-770px);
  z-index: -9;
} */

.bsn-top {
  width: 100%;
  height: 21%;
  border-radius: 55px 55px 0 0;
  /* background-color: rgb(245, 222, 179); */
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid white;
}
.bsn-top-revealed {
  height: 25%;
  padding-bottom: 2%;
  /* margin-bottom: 3%; */
}

.bsn-top-img-container {
  /* background-color: violet; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bsn-top-img-container-revealed {
  margin-top: 1%;
}

.bsn-top-img {
  border-radius: 50px;
  width: 60px;
  height: 90%;
  box-shadow: 0px 0px 7.5px rgba(236, 236, 236, 0.5);
  border: 2px solid white;
}
.bsn-top-img-revealed {
  width: 70px;
}

.bsn-middle {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid white;
  /* background-color: rgb(91, 78, 54); */
}
.bsn-middle-revealed {
  height: 20%;
}

.bsn-bottom {
  height: 20%;
}
.bsn-bottom-revealed {
  display: flex;
  height: 50%;
  width: 100%;
  /* background-color: rosybrown; */
}

.bsn-bottom-left-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  /* background-color: sandybrown; */
}

.bsn-bottom-right-detail {
  width: 70%;
  height: 100%;
  /* background-color: rgb(255, 0, 0); */
}

.mirror-icon {
  font-size: 7em;
  color: white;
}

.bsn-links {
  text-decoration: none;
  color: white;
}

.bsn-icons {
  font-size: 2.3em;
}

.bottom-txt {
  color: white;
}

.bsn-bottom-right-username {
  margin-bottom: 0%;
}

.bsn-bottom-right-email {
  margin-top: 0%;
}

.log-out-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  padding: 1% 3%;
  margin-top: 6%;
  font-size: 0.9rem;
}

@media screen and (min-width: 760px) {
  .bsn-parent {
    display: none;
  }
}
