.landing-parent {
  background-color: #3c415cf1;
  height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-glass-card {
  width: 95%;
  height: 98%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.52) 0%,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.07) 40%,
    rgba(255, 255, 255, 0.13) 60%,
    rgba(255, 255, 255, 0.27) 80%,
    rgba(255, 255, 255, 0.39) 100%
  );
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.landing-background-text {
  overflow: hidden;
  font-size: 20rem;
  position: absolute;
  top: 20;
  left: 20;
  z-index: -2;
}

.landing-text {
  height: 75%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.landing-intro {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

.landing-making {
  font-weight: 80;
  font-size: 80px;
}

.landing-clear {
  font-weight: 100;
  font-size: 75px;
  margin-top: -20px;
}

.landing-links {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15%;
}

.landing-register-btn {
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.71) 0%,
    rgba(255, 255, 255, 0.46) 20%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0.46) 80%,
    rgba(255, 255, 255, 0.61) 100%
  );
  color: white;
}

.landing-login-btn {
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.61) 0%,
    rgba(255, 255, 255, 0.36) 20%,
    rgba(255, 255, 255, 0.28) 40%,
    rgba(255, 255, 255, 0.29) 60%,
    rgba(255, 255, 255, 0.36) 80%,
    rgba(255, 255, 255, 0.51) 100%
  );
  color: white;
}

@media screen and (min-width: 760px) {
  .landing-parent {
    background-color: #3c415cf1;
    height: 1024px;
    width: 100%;
  }

  .users-glass-card {
    margin-left: 260px;
    width: 2760px;
    height: 90%;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 760px) {
  .landing-making {
    font-weight: 80;
    font-size: 150px;
  }

  .landing-clear {
    font-weight: 100;
    font-size: 130px;
    margin-top: -35px;
  }

  .landing-communication-clearer {
    padding-top: 4%;
    font-weight: 50;
    font-size: 43px;
  }

  .landing-links {
    width: 40%;
    flex-flow: row;
    justify-content: space-evenly;
  }
}
