.landing-parent {
  background-color: #3c415cf1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing-glass-img {
  position: fixed;
  width: 150%;
  max-width: 1190px;
  top: 19%;
  left: -40px;
  overflow: hidden;
}

.landing-glass-card {
  width: 95%;
  max-width: 1130px;
  height: 98%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.52) 0%,
    rgba(255, 255, 255, 0.3) 10%,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.07) 40%,
    rgba(255, 255, 255, 0.09) 50%,
    rgba(255, 255, 255, 0.13) 60%,
    rgba(255, 255, 255, 0.27) 80%,
    rgba(255, 255, 255, 0.39) 100%
  );
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.landing-text {
  height: 75%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.landing-intro {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

.landing-making {
  font-weight: 80;
  font-size: 80px;
}

.landing-clear {
  font-weight: 100;
  font-size: 75px;
  margin-top: -20px;
}

.landing-links {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15%;
}

.landing-register-btn {
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.71) 0%,
    rgba(255, 255, 255, 0.4) 20%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0.38) 80%,
    rgba(255, 255, 255, 0.61) 100%
  );
  color: white;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
}

.landing-login-btn {
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  /* background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.61) 0%,
    rgba(255, 255, 255, 0.36) 20%,
    rgba(255, 255, 255, 0.28) 40%,
    rgba(255, 255, 255, 0.29) 60%,
    rgba(255, 255, 255, 0.36) 80%,
    rgba(255, 255, 255, 0.51) 100%
  ); */
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.71) 0%,
    rgba(255, 255, 255, 0.36) 20%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0.38) 80%,
    rgba(255, 255, 255, 0.61) 100%
  );
  color: white;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 550px) {
  .landing-glass-img {
    top: 10%;
  }
}
@media screen and (min-width: 760px) {
  .landing-glass-card {
    height: 90%;
  }

  .landing-glass-img {
    width: 110%;
    top: 12%;
  }
}

@media screen and (min-width: 760px) {
  .landing-making {
    font-weight: 80;
    font-size: 150px;
  }

  .landing-clear {
    font-weight: 100;
    font-size: 130px;
    margin-top: -35px;
  }

  .landing-communication-clearer {
    padding-top: 4%;
    font-weight: 50;
    font-size: 43px;
  }

  .landing-links {
    width: 50%;
    flex-flow: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 850px) {
  .landing-glass-img {
    top: 8%;
  }
}

@media screen and (min-width: 1000px) {
  .landing-glass-img {
    width: 100%;
    left: 3%;
    top: 5%;
  }
}
@media screen and (min-width: 1100px) {
  .landing-glass-img {
    left: 2%;
  }
}
@media screen and (min-width: 1200px) {
  .landing-glass-img {
    left: 5%;
  }
}
@media screen and (min-width: 1000px) {
  .landing-glass-img {
    left: 8%;
  }
}
