.landing-parent {
  /* padding-top: .0156px; */
  background-color: #3c415cf1;
  height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

.landing-glass-card {
  width: 95%;
  height: 98%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  /* background-color: rgb(255, 255, 255, 0.1); */
  /* background-color: #ffffff00; */
  /* background-image: 
  linear-gradient(315deg, 
  #ffffff0a 0%, 
  #ffffff1c 20%, 
  #ffffff1c 30%, 
  #ffffff25 40%, 
  #ffffff1e 50%, 
  #ffffff1f 60%, 
  #cfcfcf57 70%, 
  #cfcfcf79 80%, 
  #cfcfcf96 90%, 
  #aaaaaa9f 100%); */
  background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, .62) 0%,  
  rgba(255, 255, 255, .45) 20%,  
  rgba(255, 255, 255, .27) 40%,  
  rgba(255, 255, 255, .33) 60%,  
  rgba(255, 255, 255, .47) 80%,  
  rgba(255, 255, 255, .49) 100%);
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(5px); */
}

.landing-background-text {
  overflow: hidden;
  font-size: 20rem;
  position: absolute;
  top: 20;
  left: 20; 
  z-index: -2;
}

.landing-text {
  /* background-color: wheat; */
  height: 75%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* margin-bottom: 5%; */
}

.landing-intro {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  /* position: absolute; */
  /* z-index: 2; */
}

.landing-making {
  font-weight: 80;
  /* font-size: 4.7rem; */
  font-size: 80px;
}

.landing-clear {
  font-weight: 100;
  /* font-size: 4.6rem; */
  font-size: 75px;
  margin-top: -20px;
}

.landing-communication {
  /* font-size: 2.3rem; */
  font-weight: 50;
  font-size: 43px;
  margin-top: -5px;
}

.landing-clearer {
  /* font-size: 2.3rem; */
  font-weight: 50;
  font-size: 43px;
  margin-top: -10px;

}

.landing-links {
  /* margin-top: 100px; */
  /* background-color: wheat; */
  /* position: absolute;
  top: 80%; */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15%;
}

.landing-register-btn {
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, .71) 0%,  
  rgba(255, 255, 255, .46) 20%,  
  rgba(255, 255, 255, .20) 40%,  
  rgba(255, 255, 255, .20) 50%,  
  rgba(255, 255, 255, .20) 60%,  
  rgba(255, 255, 255, .46) 80%,  
  rgba(255, 255, 255, .61) 100%);
  /* position: absolute;
  top: 80%; */
}

.landing-login-btn {
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, .61) 0%,  
  rgba(255, 255, 255, .36) 20%,  
  rgba(255, 255, 255, .28) 40%,  
  rgba(255, 255, 255, .29) 60%,  
  rgba(255, 255, 255, .36) 80%,  
  rgba(255, 255, 255, .51) 100%);
  /* position: absolute;
  top: 80%; */
}