.landing-parent {
  padding-top: .0156px;
  background-color: #3c415cf1;
  height: 775px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

.landing-glass-card {
  width: 95%;
  height: 95%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-color: rgb(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.lading-background-text {
  overflow: hidden;
  font-size: 20rem;
  position: absolute;
  top: 20;
  left: 20; 
  z-index: -2;
}

.lading-intro {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  /* position: absolute; */
  /* z-index: 2; */
}

.landing-making {
  font-weight: 80;
  /* font-size: 4.7rem; */
  font-size: 80px;
}

.landing-clear {
  font-weight: 100;
  /* font-size: 4.6rem; */
  font-size: 75px;
  margin-top: -20px;
}

.landing-communication {
  /* font-size: 2.3rem; */
  font-weight: 50;
  font-size: 43px;
  margin-top: -5px;
}

.landing-clearer {
  /* font-size: 2.3rem; */
  font-weight: 50;
  font-size: 43px;
  margin-top: -10px;

}