.lsn-parent {
  background-color: #111f28;
  width: 100%;
  height: 100%;
  display: none;
  flex-flow: column;
  align-content: center;
  /* justify-content: center; */
  border-radius: 55px 0px 0px 55px;
  color: white;
}

.lsn-top {
  /* background-color: red; */
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 21%;
}

.lsn-profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 90px;
}

.lsn-hr-top {
  width: 97%;
}

.lsn-username {
  font-size: 20px;
  padding-top: 2%;
  margin: 0px;
  padding-bottom: 8%;
}

.lsn-email {
  margin: 0px;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 0.8rem;
}

.lsn-hr-mid {
  width: 80px;
  margin: 0px auto;
}
.lsn-hr-btm {
  width: 80px;
  margin: 0px auto;
}

.lsn-mid {
  /* background-color: green; */
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 10px; */
}

.lsn-links {
  color: white;
}

.lsn-btm {
  /* background-color: yellow; */
  width: 100%;
  max-height: 348px;
  height: 348px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5%;
}

@media screen and (min-width: 760px) {
  .lsn-parent {
    display: flex;
  }
}
