.lsn-parent {
  position: fixed;
  background-color: #111f28;
  border-radius: 0 55px 55px 0;
  width: 20%;
  height: 100%;
  transform: translateX(-307px);
  transition: 0.15s ease-in-out;
  display: none;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  color: white;
}

.lsn-top {
  /* background-color: rgb(203, 125, 125, 0.5); */
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 17%;
}

.lsn-profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 90px;
}

.lsn-hr-top {
  width: 97%;
}

.lsn-username {
  padding-top: 2%;
  margin: 0px;
}

.lsn-email {
  margin: 0px;
  padding-top: 4%;
  font-size: 0.8rem;
}

.lsn-hr-btm {
  width: 80px;
  margin: 0px auto;
}

.lsn-mid {
  /* background-color: rgb(203, 202, 125, 0.5); */
  width: 100%;
  height: 8%;
  /* border-top: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lsn-links {
  color: white;
}

.lsn-btm {
  /* background-color: rgb(132, 203, 125, 0.5); */
  width: 100%;
  height: 6%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

@media screen and (min-width: 760px) {
  .lsn-parent {
    display: flex;
  }
}
