.login-parent {
  background-color: #3c415cf1;
  height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-glass-card {
  width: 95%;
  height: 95%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  /* background-color: rgb(255, 255, 255, 0.1); */
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(255, 255, 255, 0.18) 20%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.09) 60%,
    rgba(255, 255, 255, 0.16) 80%,
    rgba(255, 255, 255, 0.31) 100%
  );
  overflow: hidden;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(5px); */
}

.login-title {
  color: white;
  font-size: 2rem;
  padding-top: 2%;
}

.login-form {
  color: white;
  margin-top: 2%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.62) 0%,
    rgba(255, 255, 255, 0.45) 20%,
    rgba(255, 255, 255, 0.27) 40%,
    rgba(255, 255, 255, 0.33) 60%,
    rgba(255, 255, 255, 0.47) 80%,
    rgba(255, 255, 255, 0.49) 100%
  );
  width: 86%;
  height: 60%;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
  /* padding: 1%; */
}

.login-form-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* background-color: violet; */
  width: 90%;
  height: 85%;
}

.login-label-username {
  padding-top: 10%;
  /* background-color: rosybrown; */
}

.login-label-text {
  margin: 0px;
  padding-left: 4%;
}

.login-input {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.51) 0%,
    rgba(255, 255, 255, 0.28) 20%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.19) 60%,
    rgba(255, 255, 255, 0.26) 80%,
    rgba(255, 255, 255, 0.41) 100%
  );
  /* box-shadow: 5px 5px 2px rgb(0, 0, 0, 0.04); */
  width: 260px;
  height: 48px;
  margin-top: -1.8%;
  border-radius: 40px;
  border: 0px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  color: rgb(80, 80, 80);
}

.login-redirect-container {
  /* background-color: rgba(124, 124, 124, 0.5); */
  height: 15%;
  width: 100%;
  border-radius: 0 0 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    140deg,
    rgba(17, 31, 40, 0.2) 0%,
    rgba(17, 31, 40, 0.152) 20%,
    rgba(17, 31, 40, 0.12) 40%,
    rgba(17, 31, 40, 0.1) 60%,
    rgba(17, 31, 40, 0.152) 80%,
    rgba(17, 31, 40, 0.21) 100%
  );
}

.login-redirect-content {
  font-size: 0.9rem;
}

.login-btn {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  position: absolute;
  top: 80%;
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.724) 0%,
    rgba(255, 255, 255, 0.464) 20%,
    rgba(255, 255, 255, 0.238) 40%,
    rgba(255, 255, 255, 0.259) 60%,
    rgba(255, 255, 255, 0.409) 80%,
    rgba(255, 255, 255, 0.738) 100%
  );
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 760px) {
  .login-parent {
    background-color: #3c415cf1;
    height: 1024px;
    width: 100%;
  }

  .login-glass-card {
    /* margin-left: 260px; */
    width: 507px;

    /* width: 100%; */
    height: 70%;
    overflow-y: scroll;
  }

  .login-form {
    width: 78%;
    height: 50%;
  }

  .login-btn {
    top: 70%;
  }
}
