.msg-parent {
  background-color: #3c415cf1;
  height: 812px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.msg-glass-card {
  width: 95%;
  height: 90%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-color: rgb(255, 255, 255, 0.1);
  /* background: linear-gradient(#2396bf, #0d5b77 40%, #004961 3%, #004961);; */
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(5px); */
}

.msg-gap {
  width: 100%;
  height: 5%;
  /* background-color: cornsilk; */
}

.msg-list {
  background-color: coral;
  width: 100%;
  height: 85%;
}

.msg-instance {
  background-color: white;
}

.msg-input-container {
  /* background-color: chartreuse; */
  width: 100%;
  height: 10%;
}