.mc-parent {
  /* background-color: crimson; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc-form{
  /* background-color: cadetblue; */
  height: 100%;
  width: 60%;
  padding: 0;
}

.mc-input {
  width: 70%;
  height: 95%;
  border: 0px;
  border-radius: 55px 0 0 55px;
  padding-left: 10px;
}

.mc-btn {
  width: 15.5%;
  height: 99%;
  padding: 0;
  margin: 0px;
  border: 0px;
  border-radius: 0 55px 55px 0;
}