.msg-parent {
  background-color: rgba(60, 65, 92, .92);
  height: 812px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.msg-glass-card {
  width: 95%;
  height: 90%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  /* background-color: rgb(255, 255, 255, 0.1); */
  /* background-color: #ffffff00; */
  /* background-image: 
  linear-gradient(315deg, 
  #ffffff0a 0%, 
  #ffffff1c 20%, 
  #ffffff1c 30%, 
  #ffffff25 40%, 
  #ffffff1e 50%, 
  #ffffff1f 60%, 
  #cfcfcf57 70%, 
  #cfcfcf79 80%, 
  #cfcfcf96 90%, 
  #aaaaaa9f 100%); */
  background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, .39) 0%,  
  rgba(255, 255, 255, .18) 20%,  
  rgba(255, 255, 255, .10) 40%,  
  rgba(255, 255, 255, .09) 60%,  
  rgba(255, 255, 255, .16) 80%,  
  rgba(255, 255, 255, .31) 100%);
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(5px); */
}

.msg-gap {
  width: 100%;
  height: 5%;
  /* box-shadow: 1px 1px 39px rgb(0, 0, 0, 0.5); */
  /* background-color: cornsilk; */
}

.msg-list {
  /* background-color: coral; */
  overflow-y: scroll;
  /* overflow-anchor: revert; */
  width: 100%;
  height: 85%;
}

.msg-instance {
  /* background-color: white; */
  margin: 20px 0;
}

.msg-user-conatiner {
  display: flex;
  /* background-color: rgb(158, 97, 97); */
  margin-bottom: -15px;
}

.msg-user {
  display: flex;
  /* background-color: violet; */
  width: 60%;
  padding-left: 3%;
}

.msg-headers {
  display: flex;
  flex-flow: column;
  /* background-color: yellowgreen; */
  width: 100%;
}

.msg-edit-logo-container {
  /* background-color: royalblue; */
  color: #111F28;
  padding-top: 6%;
  padding-left: 9%;
}

.delete {
  padding-left: 5%;
}

.msg-user-username{
  padding-left: 9%;
  color: white;
  margin-top: 0px;
  width: 200px;
  font-size: .9rem;
  /* background-color: yellowgreen; */
}

.msg-user-timestamp {
  color: white;
  margin-top: -20px;
  font-size: .9rem;
  /* background-color: yellowgreen; */
}

.msg-context-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellowgreen; */
  min-height: 60px;
}

.msg-context-container {
  display: flex;
  align-items: center;
  /* background-color: rgba(166, 166, 166, 0.527); */
  background-image: 
  linear-gradient(225deg, 
  rgba(255, 255, 255, .6) 0%,  
  rgba(255, 255, 255, .38) 20%,  
  rgba(255, 255, 255, .30) 40%,  
  rgba(255, 255, 255, .29) 60%,  
  rgba(255, 255, 255, .36) 80%,  
  rgba(255, 255, 255, .51) 100%);
  padding: 0% 2%;
  width: 90%;
  min-height: 85%;
  border-radius: 0 55px 55px 55px;
}

.msg-context {
  font-size: .9rem;
  padding-left: 5%;
  color: white;
}

.msg-user-pic {
  border-radius: 50px;
  width: 30%;
  height: 100%;
}



.msg-input-container {
  /* background-color: chartreuse; */
  width: 100%;
  height: 10%;
}