.msg-parent {
  background-color: rgba(60, 65, 92, 0.92);
  height: 100vh;
  /* height: 812px; */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.msg-glass-card {
  margin-top: 2%;
  width: 95%;
  max-width: 1130px;
  height: 90%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(255, 255, 255, 0.18) 20%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.09) 60%,
    rgba(255, 255, 255, 0.16) 80%,
    rgba(255, 255, 255, 0.31) 100%
  );
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.msg-glass-card-rgt {
  /* background-color: aquamarine; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.msg-gap {
  width: 100%;
  height: 5%;
}

.msg-list {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  max-width: 400px;
  /* border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5); */
  /* background-color: aqua; */
}

.msg-list::-webkit-scrollbar {
  width: 5px;
}
.msg-list::-webkit-scrollbar-track {
  background: #ffffff00;
}
.msg-list::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(255, 255, 255, 0.18) 20%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.09) 60%,
    rgba(255, 255, 255, 0.16) 80%,
    rgba(255, 255, 255, 0.31) 100%
  );
  border-radius: 100px;
}

.msg-instance {
  margin: 20px 0;
}

.msg-user-conatiner {
  display: flex;
  margin-bottom: -15px;
}

.msg-user {
  display: flex;
  width: 60%;
  padding-left: 3%;
}

.msg-user-img-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.msg-headers {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.msg-edit-logo-container {
  color: #111f28;
  padding-left: 9%;
}

.delete {
  padding-left: 5%;
}

.msg-user-username {
  padding-left: 9%;
  color: white;
  margin-top: 0px;
  margin-bottom: 7px;
  width: 200px;
  font-size: 0.9rem;
}

/* .msg-user-timestamp {
  color: white;
  margin-top: -20px;
  font-size: 0.9rem;
} */

.msg-context-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.msg-context-container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    225deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.38) 20%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.29) 60%,
    rgba(255, 255, 255, 0.36) 80%,
    rgba(255, 255, 255, 0.51) 100%
  );
  padding: 0% 2%;
  width: 90%;
  min-height: 45.781px;
  border-radius: 0 55px 55px 55px;
}

.msg-context {
  font-size: 0.9rem;
  padding-left: 5%;
  color: white;
}

.msg-user-pic {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
  border: 2px solid white;
}

.msg-input-container {
  width: 100%;
  height: 73.7px;
}

@media screen and (min-width: 525px) {
  .msg-list {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@media screen and (min-width: 650px) {
}

@media screen and (min-width: 760px) {
  .msg-parent {
    justify-content: center;
  }
  .msg-glass-card {
    flex-flow: row;
    margin-top: 0;
  }
  .msg-glass-card-rgt {
    height: 100%;
    width: 80%;
    /* overflow-y: scroll; */
    /* background-color: aliceblue; */
  }
  .msg-glass-card-lft {
    display: flex;
    width: 20%;
    height: 100%;
    background-color: #111f28;
    border-radius: 55px 0px 0px 55px;
    /* background-color: aqua; */
  }
  .msg-context-container {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
