.msg-edit-input {
  height: 45px;
  border: none;
  /* border-top: 0.5px solid; */
  border-bottom: 0.5px solid white;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 4%;
  width: 280px;
  color: white;
  font-size: 0.91rem;
}

.msg-edit-button-container {
  /* background-color: white; */
  display: flex;
  justify-content: flex-end;
}

.msg-edit-button {
  background: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid white;
  margin: 2% 0% 2% 2%;
  border-radius: 55px;
}
