.mc-parent {
  background-color: rgba(234, 234, 234, 0.724);
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.mc-form{
  /* background-color: cadetblue; */
  height: 100%;
  width: 75%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc-input {
  /* margin: auto 0; */
  /* width: %; */
  /* background-color: yellowgreen; */
  height: 44px;
  border: 0px;
  border-radius: 55px 0 0 55px;
  padding-left: 10px;
}

.mc-btn {
  background-color: rgba(255, 255, 255, 0.889);
  width: 15.5%;
  height: 63%;
  padding: 0;
  margin: 0px;
  border: 0px;
  border-radius: 0 55px 55px 0;
}