.mc-parent {
  /* background-color: rgba(234, 234, 234, 0.724); */
  background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, .71) 0%,  
  rgba(255, 255, 255, .38) 20%,  
  rgba(255, 255, 255, .30) 40%,  
  rgba(255, 255, 255, .29) 60%,  
  rgba(255, 255, 255, .36) 80%,  
  rgba(255, 255, 255, .51) 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.mc-form{
  /* background-color: cadetblue; */
  height: 100%;
  width: 75%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc-input {
  /* margin: auto 0; */
  /* background-color: yellowgreen; */
  background-color: rgba(255, 255, 255, 0);
  background-image: 
  linear-gradient(40deg, 
  rgba(255, 255, 255, .71) 0%,  
  rgba(255, 255, 255, .38) 20%,  
  rgba(255, 255, 255, .30) 40%,  
  rgba(255, 255, 255, .29) 60%,  
  rgba(255, 255, 255, .38) 80%,  
  rgba(248, 248, 248, .51) 100%);
  height: 35px;
  border: 0px;
  /* width: 90%; */
  border-radius: 55px 0 0 55px;
  padding-left: 19px;
  /* color: white; */
}

::placeholder {
  color: white;
}

.mc-btn {
  background-color: rgba(255, 255, 255, 0.90);
  /* background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, .71) 0%,  
  rgba(255, 255, 255, .38) 20%,  
  rgba(255, 255, 255, .30) 40%,  
  rgba(255, 255, 255, .29) 60%,  
  rgba(255, 255, 255, .36) 80%,  
  rgba(255, 255, 255, .51) 100%); */
  font-size: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.5%;
  height: 50.5%;
  padding: 0;
  margin: 0px;
  border: 0px;
  border-radius: 0 55px 55px 0;
}