.register-parent {
  background-color: #3c415cf1;
  height: 812px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-glass-card {
  width: 95%;
  height: 95%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(255, 255, 255, 0.18) 20%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.09) 60%,
    rgba(255, 255, 255, 0.16) 80%,
    rgba(255, 255, 255, 0.31) 100%
  );
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.register-title {
  color: white;
  font-size: 2rem;
  padding-top: 2%;
}

.register-form {
  color: white;
  margin-top: 2%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.62) 0%,
    rgba(255, 255, 255, 0.45) 20%,
    rgba(255, 255, 255, 0.27) 40%,
    rgba(255, 255, 255, 0.33) 60%,
    rgba(255, 255, 255, 0.47) 80%,
    rgba(255, 255, 255, 0.49) 100%
  );
  width: 86%;
  height: 60%;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
}

.register-form-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 90%;
  height: 85%;
}

.register-label-username {
  padding-top: 10%;
}

.register-label-text {
  margin: 0px;
  padding-left: 4%;
}

.register-input {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.51) 0%,
    rgba(255, 255, 255, 0.28) 20%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.19) 60%,
    rgba(255, 255, 255, 0.26) 80%,
    rgba(255, 255, 255, 0.41) 100%
  );
  width: 260px;
  height: 48px;
  margin-top: 5%;
  border-radius: 40px;
  border: 0px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  color: rgb(80, 80, 80);
}

.register-redirect-container {
  height: 15%;
  width: 100%;
  border-radius: 0 0 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    140deg,
    rgba(17, 31, 40, 0.2) 0%,
    rgba(17, 31, 40, 0.152) 20%,
    rgba(17, 31, 40, 0.12) 40%,
    rgba(17, 31, 40, 0.1) 60%,
    rgba(17, 31, 40, 0.152) 80%,
    rgba(17, 31, 40, 0.21) 100%
  );
}

.register-redirect-content {
  font-size: 0.9rem;
}

.redirect-link {
  color: white;
}

.register-btn {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  position: absolute;
  top: 80%;
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.724) 0%,
    rgba(255, 255, 255, 0.464) 20%,
    rgba(255, 255, 255, 0.238) 40%,
    rgba(255, 255, 255, 0.259) 60%,
    rgba(255, 255, 255, 0.409) 80%,
    rgba(255, 255, 255, 0.738) 100%
  );
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
}

/* BUTTON MEDIA QUERIES */
/* BUTTON MEDIA QUERIES */
/* BUTTON MEDIA QUERIES */

@media screen and (width: 320px) {
  .register-btn {
    top: 82%;
  }
}
/* BUTTON MEDIA QUERIES */
/* BUTTON MEDIA QUERIES */
/* BUTTON MEDIA QUERIES */

@media screen and (min-width: 760px) {
  .register-parent {
    background-color: #3c415cf1;
    height: 1024px;
    width: 100%;
  }

  .register-glass-card {
    width: 507px;
    height: 80%;
    overflow-y: scroll;
  }

  .register-form {
    width: 78%;
    height: 60%;
  }

  .register-btn {
    top: 90%;
  }
}
