.register-parent {
  background-color: #3c415cf1;
  height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-glass-card {
  width: 95%;
  height: 95%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  /* background-color: rgb(255, 255, 255, 0.1); */
  background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, .39) 0%,  
  rgba(255, 255, 255, .18) 20%,  
  rgba(255, 255, 255, .10) 40%,  
  rgba(255, 255, 255, .09) 60%,  
  rgba(255, 255, 255, .16) 80%,  
  rgba(255, 255, 255, .31) 100%);
  overflow: hidden;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(5px); */
}

.register-title{
  color: white;
  font-size: 2rem;
  padding-top: 2%;
}

.register-form{
  color: white;
  margin-top: 2%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
  background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, .62) 0%,  
  rgba(255, 255, 255, .45) 20%,  
  rgba(255, 255, 255, .27) 40%,  
  rgba(255, 255, 255, .33) 60%,  
  rgba(255, 255, 255, .47) 80%,  
  rgba(255, 255, 255, .49) 100%);
  width: 86%;
  height: 60%;
  /* padding: 1%; */
}

.register-form-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* background-color: violet; */
  width: 90%;
  height: 85%;
}

.register-label-username {
  padding-top: 10%;
  /* background-color: rosybrown; */
}

.register-label-text {
  margin: 0px;
  padding-left: 4%;
}

.register-input {
  background-color: rgba(255, 255, 255, 0);
  background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, .51) 0%,  
  rgba(255, 255, 255, .28) 20%,  
  rgba(255, 255, 255, .20) 40%,  
  rgba(255, 255, 255, .19) 60%,  
  rgba(255, 255, 255, .26) 80%,  
  rgba(255, 255, 255, .41) 100%);
  /* box-shadow: 5px 5px 2px rgb(0, 0, 0, 0.04); */
  width: 260px;
  height: 48px;
  margin-top: 5%;
  border-radius: 40px;
  border: 0px;
}

.register-redirect-container {
  /* background-color: rgba(124, 124, 124, 0.5); */
  height: 15%;
  width: 100%;
  border-radius: 0 0 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: 
  linear-gradient(140deg, 
  rgba(17, 31, 40, .20) 0%,  
  rgba(17, 31, 40, .152) 20%,  
  rgba(17, 31, 40, .12) 40%,  
  rgba(17, 31, 40, .10) 60%,  
  rgba(17, 31, 40, .152) 80%,  
  rgba(17, 31, 40, .21) 100%);
}

.register-redirect-content {
  font-size: .9rem;
}

.redirect-link {
/* text-decoration: none; */
color: white;
}

.register-btn {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  position: absolute;
  top: 80%;
  background-image: 
  linear-gradient(140deg, 
  rgba(255, 255, 255, 0.724) 0%,  
  rgba(255, 255, 255, 0.464) 20%,  
  rgba(255, 255, 255, 0.238) 40%,  
  rgba(255, 255, 255, 0.259) 60%,  
  rgba(255, 255, 255, 0.409) 80%,  
  rgba(255, 255, 255, 0.738) 100%);
}