.register-parent {
  background-color: #3c415cf1;
  height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-glass-card {
  width: 95%;
  height: 95%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-color: rgb(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.register-title{
  color: white;
  font-size: 2rem;
  padding-top: 2%;
}

.register-form{
  color: white;
  margin-top: 2%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 86%;
  height: 60%;
  /* padding: 1%; */
}

.register-form-content {
  display: flex;
  flex-flow: column;
  align-content: center;
  /* background-color: violet; */
  width: 90%;
  height: 85%;
}

.register-label-username {
  padding-top: 10%;
  /* background-color: rosybrown; */
}

.register-username {
  width: 260px;
  height: 48px;
  margin-top: 5%;
  border-radius: 40px;
  border: 0px;
}

.register-email {
  width: 260px;
  height: 48px;
  margin-top: 5%;
  border-radius: 40px;
  border: 0px;
}

.register-password {
  width: 260px;
  height: 48px;
  margin-top: 5%;
  border-radius: 40px;
  border: 0px;
}

.register-redirect-container {
  background-color: rgba(124, 124, 124, 0.5);
  height: 15%;
  width: 100%;
  border-radius: 0 0 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-redirect-content{
  font-size: .9rem;
}

.register-btn{
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 0px;
  position: absolute;
  top: 80%;
}