.rooms-parent {
  background-color: #3c415cf1;
  height: 812px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.rooms-glass-card {
  width: 95%;
  height: 90%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-color: rgb(255, 255, 255, 0.1);
  /* background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.41) 0%,
    rgba(255, 255, 255, 0.21) 10%,
    rgba(255, 255, 255, 0.14) 20%,
    rgba(255, 255, 255, 0.12) 20%,
    rgba(255, 255, 255, 0.09) 40%,
    rgba(255, 255, 255, 0.1) 60%,
    rgba(255, 255, 255, 0.09) 65%,
    rgba(255, 255, 255, 0.1) 70%,
    rgba(255, 255, 255, 0.12) 75%,
    rgba(255, 255, 255, 0.16) 80%,
    rgba(255, 255, 255, 0.16) 90%,
    rgba(255, 255, 255, 0.21) 100%
  ); */
  background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.29) 0%,
    rgba(255, 255, 255, 0.08) 20%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.06) 60%,
    rgba(255, 255, 255, 0.08) 70%,
    rgba(255, 255, 255, 0.1) 80%,
    rgba(255, 255, 255, 0.16) 90%,
    rgba(255, 255, 255, 0.21) 100%
  );
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(5px); */
}

.rooms-contact-header-container {
  /* background-color: cadetblue; */
  color: white;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms-list {
  /* background-color: blueviolet; */
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  /* align-content: center; */
  width: 90%;
  height: 90%;
}

.rooms-instance {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(255, 255, 255, 0.58) 10%,
    rgba(255, 255, 255, 0.41) 20%,
    rgba(255, 255, 255, 0.31) 25%,
    rgba(255, 255, 255, 0.21) 30%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.29) 60%,
    rgba(255, 255, 255, 0.36) 80%,
    rgba(255, 255, 255, 0.46) 85%,
    rgba(255, 255, 255, 0.56) 90%,
    rgba(255, 255, 255, 0.61) 100%
  );
  height: 10.5%;
  margin: 1.25% 0 1.25% 0;
  border-radius: 55px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* background: coral; */
}

.rooms-instance a {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  text-decoration: none;
  color: white;
  height: 100%;
}

.rooms-instance-img {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.rooms-instance-chat-detail {
  display: flex;
  flex-flow: column;
  padding-top: 2.3%;
  width: 75%;
}

/* .rooms-instance-username {
  background-color: burlywood;
} */

.rooms-username {
  /* background-color: cadetblue; */
  padding-left: 4%;
  padding-bottom: 2.5%;
  margin: 0;
}

.rooms-timestamp {
  padding-left: 4%;
  font-size: 0.8rem;
  margin: 0;
}

.rooms-profile-img {
  border-radius: 50px;
  width: 80%;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
  border: 2px solid white;
}

.bsn-placholder {
  width: 100%;
  height: 8%;
  /* background-color: blueviolet; */
}

.main {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 760px) {
  .rooms-parent {
    background-color: #3c415cf1;
    height: 1024px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .rooms-glass-card-nav-container {
    /* background-color: rgb(234, 236, 236); */
    display: flex;
    width: 100%;
    height: 100%;
  }

  .rooms-glass-card {
    margin-left: 179px;
    width: 3940px;
    /* width: 100%; */
    height: 90%;
    overflow-y: scroll;
  }

  .rooms-instance a {
    align-items: center;
  }

  .rooms-profile-img {
    border-radius: 50px;
    width: 56px;
    height: 56px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
    border: 2px solid white;
  }
}
