.rooms-parent {
  background-color: #3c415cf1;
  /* height: 812px; */
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.rooms-glass-card {
  width: 95%;
  height: 90%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-color: rgb(255, 255, 255, 0.1);
  background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.29) 0%,
    rgba(255, 255, 255, 0.08) 20%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.06) 60%,
    rgba(255, 255, 255, 0.08) 70%,
    rgba(255, 255, 255, 0.1) 80%,
    rgba(255, 255, 255, 0.16) 90%,
    rgba(255, 255, 255, 0.21) 100%
  );
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.rooms-glass-card-rgt {
  /* background-color: red; */
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 80%;
}

.rooms-contact-header-container {
  color: white;
  height: 10%;
  width: 100%;
  max-width: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms-list {
  /* background-color: rgb(197, 143, 143); */
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 99%;
  max-width: 400px;
  height: 90%;
  overflow-y: scroll;
}

.rooms-list::-webkit-scrollbar {
  width: 5px;
}
.rooms-list::-webkit-scrollbar-track {
  background: #ffffff00;
}
.rooms-list::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(255, 255, 255, 0.18) 20%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.09) 60%,
    rgba(255, 255, 255, 0.16) 80%,
    rgba(255, 255, 255, 0.31) 100%
  );
  border-radius: 100px;
}

.rooms-instance {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(255, 255, 255, 0.58) 10%,
    rgba(255, 255, 255, 0.41) 20%,
    rgba(255, 255, 255, 0.31) 25%,
    rgba(255, 255, 255, 0.21) 30%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.29) 60%,
    rgba(255, 255, 255, 0.36) 80%,
    rgba(255, 255, 255, 0.46) 85%,
    rgba(255, 255, 255, 0.56) 90%,
    rgba(255, 255, 255, 0.61) 100%
  );
  height: 10.5%;
  min-height: 71.5px;
  width: 98%;
  max-width: 382px;
  margin: 1.25% 0 1.25% 0;
  border-radius: 55px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.rooms-instance a {
  display: flex;
  text-decoration: none;
  color: white;
  height: 100%;
}

.rooms-instance-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.rooms-instance-chat-detail {
  display: flex;
  flex-flow: column;
  padding-top: 2.3%;
  width: 75%;
}

.rooms-username {
  padding-left: 4%;
  padding-bottom: 2.5%;
  margin: 0;
}

.rooms-timestamp {
  padding-left: 4%;
  font-size: 0.8rem;
  margin: 0;
}

.rooms-profile-img {
  border-radius: 50px;
  width: 80%;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
  border: 2px solid white;
}

.bsn-placholder {
  width: 100%;
  height: 8%;
}

.main {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 525px) {
  .rooms-list {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    min-width: 400px;
  }
  .rooms-contact-header-container {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@media screen and (min-width: 650px) {
  /* .rooms-instance {
  } */
}
@media screen and (min-width: 760px) {
  .rooms-glass-card {
    flex-flow: row;
  }
  .rooms-glass-card-rgt {
    height: 100%;
    width: 80%;
    /* background-color: aliceblue; */
  }
  .rooms-glass-card-lft {
    display: flex;
    width: 20%;
    height: 100%;
    background-color: #111f28;
    /* background-color: aqua; */
  }
}
