.users-parent {
  background-color: #3c415cf1;
  height: 812px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.users-glass-card {
  width: 95%;
  height: 90%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-color: rgb(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(5px); */
}

.bsn-placholder {
  width: 100%;
  height: 8%;
  /* background-color: blueviolet; */
}

.users-contact-header-container {
  /* background-color: turquoise; */
}

.users-list {
  /* background-color: thistle; */
  display: grid;
  justify-content: center;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 155px);
}

.users-profile-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
  border-radius: 40px;
}

.users-profile-card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: tomato; */
  border-radius: 40px 40px 0 0;
  height: 65%;
  width: 100%;
}

.users-profile-card-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(120, 120, 120, 0.5);
  border-radius: 0 0 40px 40px;
  height: 35%;
  width: 100%;
}

.users-profile-img {
  border-radius: 50px;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
  /* z-index: 2; */
}