.users-parent {
  background-color: #3c415cf1;
  height: 812px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.users-glass-card {
  width: 95%;
  height: 90%;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 55px;
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(255, 255, 255, 0.18) 20%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.09) 60%,
    rgba(255, 255, 255, 0.16) 80%,
    rgba(255, 255, 255, 0.31) 100%
  );
  overflow: scroll;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.users-contact-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  color: white;
}

.users-list {
  display: grid;
  justify-content: center;
  height: 83%;
  width: 100%;
  grid-gap: 2%;
  padding-bottom: 8%;
  grid-template-columns: repeat(2, 155px);
}

.users-profile-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.71) 0%,
    rgba(255, 255, 255, 0.28) 20%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.19) 60%,
    rgba(255, 255, 255, 0.26) 80%,
    rgba(255, 255, 255, 0.51) 100%
  );
  width: 88%;
  margin-bottom: 5%;
  border-radius: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.users-profile-card-top {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.users-profile-card-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 40px 40px;
  height: 35%;
  width: 100%;
}

.users-profile-img {
  border-radius: 50px;
  width: 65px;
  height: 65px;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
  border: 2px solid white;
}

.users-profile-name {
  margin-top: 10px;
  color: white;
}

@media screen and (min-width: 760px) {
  .users-parent {
    background-color: #3c415cf1;
    height: 1024px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .users-glass-card {
    margin-left: 260px;
    width: 4010px;
    height: 90%;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 1200px) {
  .users-glass-card {
    margin-left: 410px;
  }
}
